* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
  
.container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}
  
a {
  text-decoration: none;
  transition: all 0.1s ease-in;
}

