@font-face {
  font-family: 'Miso';
  font-style: normal;
  font-weight: normal;
  src: local('Miso'), url('../fonts/miso.otf') format('otf');
  src: local('Miso'), url('../fonts/miso.woff') format('woff');
  src: local('Miso'), url('../fonts/miso.woff2') format('woff2');
}
@font-face {
  font-family: 'Miso Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Miso Bold'), url('../fonts/miso-bold.otf') format('otf');
  src: local('Miso Bold'), url('../fonts/miso-bold.woff') format('woff');
  src: local('Miso Bold'), url('../fonts/miso-bold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  background-color: #fdde7e; 
  margin: 0;
}
  
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}
  
a {
  text-decoration: none;
  transition: all 0.1s ease-in;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 440px;
  width: 360px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in;
  color: #333333;
  padding: 40px;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.1);
}
.card__price {
  color: #02995b;
  font-size: 7rem;
  font-family: 'Miso Bold', sans-serif;
}
.card__price:before {
  content: "$";
}

.card__icon {
  margin: 0 0 0 20px; /*в размер иконки входит ручка чашки, из-за этого чашка визуально не в центре. Не вижу способа кроме задания отступа слева*/
}
.card__title {
  font-size: 5.6rem;
  font-family: 'Miso', sans-serif;
  margin: 0;
}
.card__subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  text-align: center;
  width: 150px;
}