@font-face {
  font-family: 'HansKendrick';
  font-style: normal;
  font-weight: normal;
  src: local('HansKendrick'), url('../fonts/hansKendrick/hanskendrick.otf') format('otf');
  src: local('HansKendrick'), url('../fonts/hansKendrick/hanskendrick.woff') format('woff');
  src: local('HansKendrick'), url('../fonts/hansKendrick/hanskendrick.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
  
body {
  background-color: #e2e7ec;
  color: #1d1d1d;
  font-family: 'HansKendrick', sans-serif;     
  line-height: 3rem;
}

a {
  text-decoration: none;
  transition: all 0.1s ease-in;
  color: #1d1d1d;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  
}

.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__item {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 10px 0;
  height: 540px;
  background-color: #fff;
}

.news__item:hover .news__img,
.news__item:focus .news__img,
.news__item:active .news__img {
  transform: scale(1.1);
  transition: all .3s ease-in;
}

.news__img-wrap {
  min-height: 250px;
  overflow: hidden;
}
.news__img {
  max-width: 100%;
  transition: all .3s ease-in;
}

.news__info {
  padding: 3em;
  height: 100%;
  position: relative;
}

.news__date {
  font-size: 1.3rem;
  font-weight: 500;
  color: #818181;
}

.news__title {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 700;
  margin-top: 0;
  transition: all .3s ease-in;
}
.news__item:hover .news__title,
.news__item:focus .news__title,
.news__item:active .news__title {
  opacity: .6;
  transition: all .3s ease-in;
}

.news__author {
  max-width: 54px;
  max-height: 54px;
  overflow: hidden;
  border-radius: 50px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.news__item--big {
  max-width: 740px;
  position: relative;
  color: #fff;
}

.news__item--big .news__author {
  display: none;
}

.news__item--big .news__info {
  height: auto;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.news__item--big .news__title {
  font-size: 3rem;
  line-height: 3.6rem;
}

.news__item--big .news__img-wrap {
  max-height: 540px;
  overflow: hidden;
}

/* .news__item--big:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient( rgba(0, 0, 0, .1), rgba(0, 0, 0, .7));
} */

.news__item__mask {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient( rgba(255, 255, 255, .1), rgba(0, 0, 0, .9));
}

.news__item--big .news__item__mask {
  display: block;
}
